@media (max-width: 1200px) {
  .info-product {
    grid-template-columns: 100% !important;
  }
  .block--policy {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
  .show-activity {
    width: 88% !important;
  }
}
@media (max-width: 992px) {
  .block--policy {
    grid-template-columns: 1fr 1fr !important;
  }
  .confirm-cart .total-pay {
    margin-left: 0 !important;
  }
  .show-activity {
    width: 84% !important;
  }
  .container-content {
    grid-template-columns: 100% !important;
  }
}
@media (max-width: 768px) {
  .container-content {
    grid-template-columns: 100% !important;
  }
  .img-slider {
    margin-left: 0px !important;
  }
  .info-text {
    width: 250px !important;
    margin-left: 20px !important;
  }
  .status-price {
    flex-direction: column !important;
  }
  section {
    display: none !important;
  }
  .block--policy {
    grid-template-columns: 1fr !important;
  }
  .confirm-cart .container-content {
    grid-template-columns: 100% !important;
    height: 100%;
  }
  .show-activity {
    width: 75% !important;
  }
  .slick-slider {
    width: 82% !important;
  }
  .img-reviwer {
    left: 11% !important;
  }
  .cart-process {
    flex-direction: column !important;
  }
  .process.actived {
    margin: 10px auto !important;
  }
  .process.actived span {
    font-size: 11px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .process.actived span {
    font-size: 11px;
    text-align: left !important;
  }
  .cart-process {
    flex-direction: row !important;
  }
}

.user-activity ul li {
  display: block;
  margin: 5px 0;
}

.user-activity {
  background-color: #f3f3f7;
  border-radius: 15px;
  position: sticky;
  top: 105px;
  left: 69px;
  right: 0;
  height: 319px;
  width: 196px;
}
.user-activity ul {
  padding-inline-start: 10px;
}
.user-activity ul li:first-child {
  padding-top: 10px;
}
.user-activity ul li:last-child {
  padding-bottom: 10px;
}
.user-activity ul li a {
  color: black;
  padding: 5px;
  border-radius: 13px;
}

.user-activity ul li a:hover {
  text-decoration: none;
  background-color: #a8a8a8;
}
.user-activity ul li a {
  text-decoration: none;
}
.grid {
  display: grid;
  grid-template-columns: 196px calc(100% - 196px);
}
.show-activity {
  margin-left: 80px;
  width: 90%;
}
.container-card-products {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.pagination {
  justify-content: center;
}
.pagination a {
  margin: 0 5px;
}
/* css slick slider */
.slick-slide {
  margin: 0 10px;
}

.slick-prev:before,
.slick-next:before {
  color: #000;
}

.slider-for img {
  width: 412px;
  height: 235px;
  object-fit: cover;
}

.slider-nav img {
  height: 100px;
  object-fit: cover;
}
.slider-for {
  cursor: pointer;
}
.slider-nav {
  width: 340px;
}

/* css info product */

.info-product {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 39% 50%;
}
.img-slider {
  margin-left: 30px;
}

.guarantee {
  color: #ff8f02;
  font-weight: 600;
  font-size: 15px;
  text-transform: capitalize;
}
.status-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
}
.status-price > div.col1 {
  display: flex;
  align-items: center;
  width: 40%;
}
.status-price > div.col2 {
  text-align: right;
  width: 60%;
}
.status-price > div.col1 > div .status_stock {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.status-price > div.col1 > div .quantity {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: #000;
}
.status-price > div.col1 > div .status_stock .status.status1 {
  color: #27ae60;
}
.status-price > div.col1 > div .status_stock .status {
  display: flex;
  align-items: center;
}
.status-price > div.col1 > div .status_stock .status i {
  font-size: 12px;
  margin-right: 9px;
}
.fa-circle:before {
  content: "\f111";
}
.status-price > div.col1 > div .quantity {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: #000;
}
.status-price > div.col1 > div .quantity .quantity-wrap {
  margin-left: 27px;
  border: 1.5px solid #e6f2ff;
  display: flex;
  align-items: center;
  height: 40px;
}
.status-price > div.col1 > div .quantity .quantity-wrap .qty-action {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 1.5px solid #e6f2ff;
}
.status-price
  > div.col1
  > div
  .quantity
  .quantity-wrap
  .qty-action
  span.add-qty {
  border-bottom: 1.5px solid #e6f2ff;
}
.status-price > div.col1 > div .quantity .quantity-wrap .qty-action span {
  display: flex;
  width: 24px;
  height: 50%;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.status-price > div.col2 .price {
  font-weight: 700;
  font-size: 32px;
  color: #f9495f;
  margin-bottom: 12px;
  margin-right: 28px;
}
.btn-add-cart-2 {
  background: #fff !important;
  border: 1px solid #008f00 !important;
  color: #008f00 !important;
}
.btn-add-cart {
  width: calc(50% - 15px);
  height: 44px;
  background: #fa5252;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.btn-add-cart-2:hover {
  color: #fa9f2c !important;
  background-color: #fff !important;
  border: 1px solid #fa9f2c !important;
}
.btn-add-cart:hover {
  background-color: #fc0000;
}
.add-cart-buttons {
  display: flex;
  justify-content: space-evenly;
}
.btn-add-cart-2 > i {
  margin-right: 10px;
}

.info-text {
  font-size: 15px;
  margin-left: 83px;
  width: 383px;
}
.short-desc {
  font-size: 13px;
}
.block--policy {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 55px;
}
.block--policy .policy__item {
  width: 200px;
  height: 104px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f3fc;
}
.policy__item__text {
  margin-left: 5px;
  width: 117px;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  color: #000;
}
.title {
  margin-top: 20px;
}
.img-reviwer {
  width: 200px;
}
.img-reviwer {
  width: 200px;
  position: relative;
  left: 38%;
}
/* css confirm cart */
.confirm-cart a {
  text-decoration: none;
}
.cart .cart-products .cart-process {
  display: flex;
  justify-content: space-around;
  margin-bottom: 34px;
  overflow: hidden;
}
.process {
  flex-grow: 1;
  width: 33.33%;
  background: #ededed;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: skewX(-20deg);
}
.actived {
  background-color: #008f00;
}
.process:first-child:before {
  content: " ";
  width: 16px;
  height: 100%;
  position: absolute;
  left: -7px;
  background: #008f00;
  transform: skewX(20deg);
}
.active span {
  color: #fff;
}
.process:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}
.process:nth-child(3):before {
  content: " ";
  width: 16px;
  height: 100%;
  position: absolute;
  right: -7px;
  background: #ededed;
  transform: skewX(20deg);
}
.actived:nth-child(3):before {
  content: " ";
  width: 16px;
  height: 100%;
  position: absolute;
  right: -7px;
  background: #008f00;
  transform: skewX(20deg);
}
.cart-process {
  display: flex;
}
.card-product-a {
  position: relative;
}
.slick-slider {
  width: 90%;
  margin: 0 auto;
}
.container-pay {
  padding: 10px;
  background-color: #f3f3f7;
}
/* css thanh toán */
.form-label {
  color: rgba(85, 85, 85, 0.8);
  width: 26%;
  text-align: right;
  font-size: 14px;
  line-height: 2.5;
  height: 40px;
  margin-right: 20px;
}
