header {
  position: sticky;
  background-color: #ffffff;
  top: 0;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  max-width: 1024px;
  margin: 0 auto;
}
.box-icon {
  display: inline-block;
}
.main {
  display: grid;
  grid-template-columns: 204px 1fr;
}
.sidebar {
  overflow: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 80px);
  position: sticky;
  top: 80px;
  left: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 10px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.title-menu {
  border: none;
  width: 100%;
  text-align: left;
  color: #008f00;
  font-size: 12px;
}
.title-menu:focus {
  outline: none;
}
.menu-item-body a {
  text-decoration: none;
  color: #ff6000;
}
.menu-item-body a:hover {
  text-decoration: none;
  color: #eb7025;
}
.menu-item-body ul {
  margin: 5px auto;
}
.menu-item-body li {
  list-style-type: none;
}
.menu-item-body {
  background-color: #f5f5f5;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.item {
  box-shadow: 0 2px rgb(0 0 0 / 5%);
}
.menu-item:last-child .item {
  box-shadow: none;
}
.menu-item {
  margin-bottom: 2px;
}
#accordion {
  background-color: #f0f0f0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.title-menu:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.table-employee td {
  max-width: 170px;
  padding: 5px;
}
.table-employee th {
  padding-left: 5px;
}
.table-employee th,
td {
  font-size: 11px;
}
.action-container {
  margin-left: 30px;
}
.btn-search-employee {
  border: 2px solid #11c111;
  background-color: white;
  color: #11c111;
  transition: all linear 0.3s;
  cursor: pointer;
}
.btn-search-employee:hover {
  box-shadow: inset 0 0 0 13px rgba(6, 196, 6, 0.808);
  color: white;
  border-color: chartreuse;
}
.sidebar .title-menu {
  cursor: pointer;
}
.action-container .title-menu input:focus {
  outline: none;
}
.action-container .title-menu input {
  -webkit-appearance: auto;
}
.edit-pass {
  -moz-box-shadow: inset 0px 1px 0px 0px #fceaca;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fceaca;
  box-shadow: inset 0px 1px 0px 0px #fceaca;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #ffce79),
    color-stop(1, #eeaf41)
  );
  background: -moz-linear-gradient(center top, #ffce79 5%, #eeaf41 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#eeaf41');
  background-color: #ffce79;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  text-indent: 0;
  border: 1px solid #eeb44f;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  height: 25px;
  line-height: 25px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  margin-top: 5px;
  text-shadow: 1px 1px 0px #ce8e28;
}
.edit-pass:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #eeaf41),
    color-stop(1, #ffce79)
  );
  background: -moz-linear-gradient(center top, #eeaf41 5%, #ffce79 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeaf41', endColorstr='#ffce79');
  background-color: #eeaf41;
}
.edit-pass:action-container {
  position: relative;
  top: 1px;
}
.edit-pass:focus {
  outline: none;
}
.employee-text {
  color: #229118;
  width: 120px;
  display: inline-block;
  font-size: 13px;
}
.add-employee-form div {
  margin-top: 10px;
  display: flex;
}

.add-employee-form {
  display: grid;
  grid-template-columns: 338px 546px;
}
select#Role {
  width: 93px;
}
.btn-search-employee:focus {
  outline: none;
}
.btn-success:focus {
  box-shadow: none;
  outline: none;
}
.input-img {
  width: 189px;
  font-size: 11px;
}
.container-edit label {
  display: inline-block;
  width: 200px;
}
.checkin-menu {
  position: absolute;
  width: 15px;
  left: 57px;
  pointer-events: none;
  opacity: 0;
  transition: 1s;
  z-index: 999;
}
.btn {
  color: #ff6000;
  background-color: white;
  border: 1px solid #ff6000;
  transition: 0.5s;
}
.btn:hover {
  color: white;
  background-color: #008f00;
  border: none;
}
.btn:focus {
  outline: none;
}
footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: black;
  z-index: 9999999;
  color: #fff;
  padding: 15px;
}
.box-account {
  display: flex;
}
.username {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.menu-item-body a {
  cursor: pointer;
}
.congratulate {
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
}
